<!--<div id="devtool">-->
<!--  <ul>-->
<!--    <li>-->
<!--      <a routerLink="/">Front</a>-->
<!--    </li>-->
<!--    <li>-->
<!--      <a routerLink="/catalog">Catalog</a>-->
<!--    </li>-->
<!--    <li>-->
<!--      <a routerLink="/products/apple">Products: Apple</a>-->
<!--    </li>-->
<!--    <li>-->
<!--      <a routerLink="/products/pear">Products: Pear</a>-->
<!--    </li>-->
<!--    <li>-->
<!--      <a routerLink="/about">About us</a>-->
<!--    </li>-->
<!--    <li>-->
<!--      <a routerLink="/404">404</a>-->
<!--    </li>-->
<!--  </ul>-->
<!--</div>-->

<router-outlet></router-outlet>
