<span class="control-label">Add elements&nbsp;</span>

<button (click)="addBlock()">
  Block
</button>
<button (click)="addShape({}, ShapesElementTypes.Rectangle)">
  Rectangle
</button>
<button (click)="addShape({ height: 8 }, ShapesElementTypes.Line)">
  Line
</button>
<button (click)="addText()">
  Text
</button>
<button (click)="addImage()">
  Image
</button>
<button (click)="addProduct()">
  Product
</button>
<button (click)="addProductPage()">
  Product page
</button>
<button (click)="addButton()">
  Button
</button>
<button (click)="addDropdown()">
  Dropdown
</button>
<button (click)="addCart()">
  Cart
</button>
<button (click)="addAmount()">
  Amount
</button>
<button (click)="addSection()">
  Section
</button>
