:host {
  display: inline-block;
}

.wrapper {
  display: flex;
  align-items: center;
}

img, h1 { margin: 0; }

img {
  margin-inline-end: .5em;
}

h1 {
  font-size: 1em;
  font-weight: inherit;
  display: inline-block;
}
