.add-page-button {
  width: 100%;
  margin: 10px 0;
  background-color: #6c6c69;

  &:hover {
    background-color: rgba(255, 255, 255, 0.45);
  }
}

.menu {
  background: #606060;
  color: #fff;
  width: 200px;
  margin: -10px 0;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.master-page {
  display: flex;
  width: 80px;
  border-radius: 7px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;

  &:hover {
    background-color: rgba(255, 255, 255, 0.45);
  }

  &[disabled] {
    background-color: initial !important;
    cursor: not-allowed;
    //pointer-events: none;
  }

  &__preview {
    width: 60px;
    height: 60px;
    background-color: #ffffff;
  }

  &__name {
    font-size: 14px;
    padding-top: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

::ng-deep .mat-menu-panel {
  background: #606060;
  border-radius: 7px;
}
